{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "NODE_ENV": "development",
    "GMAIL_USER": "dandctranslations@gmail.com",
    "GMAIL_APP_PASSWORD": "your16charapppassword"
  }
}
